.criminalList {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.criminal__card {
    border: 1px solid black;
    margin: 10px;
    width: 25%;
}
.officerList {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.officer__card {
    border: 1px solid black;
    margin: 10px;
    width: 25%;
}

/* aside {
    display: flex;
    flex-flow: column flex;
    justify-content: center;
} */

.top {
    display: flex;
}

.bothButtons {
    display: flex;
    flex-direction: row;
}

.noteList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.note {
    background-color: papayawhip;
    border-radius: 5%;
    margin: 5px;
    width: 33%;
}